#map {
    width: 100%;
    height: 500px;
}

#removeButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

#clearRoutesButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #0d5c5c;
    color: white;
    border: none;
    cursor: pointer;
}

#createRouteButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #580337;
    color: white;
    border: none;
    cursor: pointer;
}


#messagePopup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
  }

  #messagePopup .popup-content {
    font-size: 16px;
    margin-bottom: 10px;
  }


  #closePopupButton {
    float: right;
    background-color: #d2000079;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
